<div>
    <select name="" id="">
    
        <option value="">Starter</option>
        <option value="">Mocktails</option>
        <option value="">Desert</option>
    </select>
    <div class="dishes">
        <a href="">
            <div class="dish-card">
                <img src="" alt="">
                <div>
                    <p class="dish-name">Name</p>
                    <p class="dish-ingrediants">kasbhf sjdbfs mnsajfd hjsvd</p>
                    <p class="dish-price">Price</p>
                    <button>-</button>
                    <p style="display: inline-block;">0</p>
                    <button>+</button>
                </div>

            </div>
        </a>
    </div>
</div>

<style>
    .dishes{
        display: flex;
        flex-wrap: wrap;
    }
    .dish-card{
        border: 1px solid black;
        padding: 10px;
    }
</style>