{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<form action="" method="POST">
    <div>
        <div class="heading_container">
            <h2>
            Order traking
            </h2>
          </div>
        <p>**Order Update</p>
        <input type="number" placeholder="Order Id" name="" id="">
        <div class="btn_box">
            <button>
              Track
            </button>
          </div>
    </div>
    <section class="book_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Book A Table
            </h2>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form_container">
                <form action="">
                  <div>
                    <input type="text" class="form-control" placeholder="Your Name" />
                  </div>
                  <div>
                    <input type="text" class="form-control" placeholder="Phone Number" />
                  </div>
                  <div>
                    <input type="email" class="form-control" placeholder="Your Email" />
                  </div>
                  <div>
                    <select class="form-control nice-select wide">
                      <option value="" disabled selected>
                        How many persons?
                      </option>
                      <option value="">
                        2
                      </option>
                      <option value="">
                        3
                      </option>
                      <option value="">
                        4
                      </option>
                      <option value="">
                        5
                      </option>
                    </select>
                  </div>
                  <div>
                    <input type="date" class="form-control">
                  </div>
                  <div class="btn_box">
                    <button>
                      Book Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="map_container ">
                <div id="googleMap"></div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- end book section -->
    
</form>

<style>
    form{
        padding: 50px 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    input{
        width: 500px !important;
        width: 100%;
        border: none;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 25px;
        border: 1px solid #999;
        outline: none;
        color: #000000;
        border-radius: 5px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;

    }
    .heading_container h2{
        text-align: center !important;
    }
    .heading_container{
        align-items: center;
    }
    button{
        margin-top: 15px;
        border: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 55px;
        background-color: #ffbe33;
        color: #ffffff;
        border-radius: 45px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }
</style>
{% endblock content %}