{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Share your Racipe
        </h2>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="form_container">
            <form action="">
                <div>
                  <input type="text" class="form-control" placeholder="Dish Name" />
                </div>
                <div>
                    <input type="details" class="form-control" placeholder="Process" />
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Ingredients" />
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
              <div class="btn_box">
                <button>
                  Share
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <style>
    .book_section{
      position: relative;
      text-align: center;
      width: 50%;
      margin: 0px auto;
    }
  </style>


{% endblock content %}