{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div style="padding: 50px 200px;">
    <div style=" padding: 10px 20px; border-radius: 10px; box-shadow: 0px 0px 5px rgb(216, 201, 201);">
        <p>Kul Deep Varma <span>10:34AM</span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, vero?</p>
    </div>
    <div style="margin-top: 20px; text-align: center; ">
        <div style="width: 500px; margin: 0px auto;">
            <input type="text" placeholder="Write your review..">
            <button>Submit</button>
        </div>
    </div>
</div>

<style>
    input{
        width: 500px !important;
        width: 100%;
        border: none;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 25px;
        border: 1px solid #999;
        outline: none;
        color: #000000;
        border-radius: 5px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    button{
        margin-top: 15px;
        border: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 55px;
        background-color: #ffbe33;
        color: #ffffff;
        border-radius: 45px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }
</style>
{% endblock content %}